@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply m-0 dark:bg-gray-900 dark:text-gray-200 font-sans;
}

main {
  @apply py-6 md:py-10 md:px-18;
}

/* text */
.big {
  @apply mb-4 text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-600;
}

h1 {
  @apply text-2xl text-cyan-500;
}

h2 {
  @apply text-xl text-cyan-500;
}

h3 {
  @apply text-lg text-cyan-500;
}

/* links */
a[href]:not(.card, .button) {
  @apply text-cyan-500 hover:text-teal-400;
}

a.button {
  @apply py-2 px-3 rounded-lg bg-cyan-600 hover:bg-cyan-700 transition-colors text-white font-bold;
}
